<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<main layout:fragment="main">
    <div class="container">
        <h1 class="mb-5">Willkommen auf Admin Dashboard</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Authorities</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}" th:classappend="${user.active} == 0 ? 'table-warning' : ''">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:each="authority: ${user.authorities}">
                        <span th:text="${authority.description}"></span>
                    </td>
                    <td th:text="${user.active} == 1 ? 'TRUE' : 'FALSE'"></td>
                    <td>
                        <div class="d-flex flex-row gap-1">
                            <form th:action="@{/admin/{id}(id = ${user.id})}" th:method="patch">
                                <button type="submit" class="btn" th:classappend="${user.active} == 1 ? 'btn-warning' : 'btn-info'">
                                    <span th:if="${user.active == 1}" class="material-symbols-outlined">
                                        toggle_on
                                    </span>
                                    <span th:if="${user.active == 0}" class="material-symbols-outlined">
                                        toggle_off
                                    </span>
                                </button>
                            </form>
                            <form th:action="@{/admin/{id}(id = ${user.id})}" th:method="delete">
                                <button type="submit" class="btn btn-danger">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</html>
