<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<main layout:fragment="main">
    <div class="container">
        <h1 class="my-3">Willkommen auf Admin Dashboard</h1>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary d-flex flex-row mb-3" data-bs-toggle="modal"
                data-bs-target="#create-user-modal">
                <span class="material-symbols-outlined me-1">add</span>
                Add User
            </button>
        </div>

        <!-- Search bar -->
        <div>
            <form th:action="@{/admin}" id="searchForm" th:method="GET">
                <div class="d-flex flex-row align-items-center justify-content-between my-3 gap-3">
                    <div>
                        <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                            class="form-select" id="pageSize">
                            <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s} + ' Items'"
                                th:selected="${s == pageSize}">Items</option>
                        </select>
                    </div>
                    <div class="flex-grow-1">
                        <div class="search input-group">
                            <label class="input-group-text" for="keyword-input">
                                <span class="material-symbols-outlined">search</span>
                            </label>
                            <input id="keyword-input" type="search" name="keyword" th:value="${keyword}"
                                class="form-control" placeholder="Search for a user">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- User table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Authorities</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}" th:classappend="${user.active} == 0 ? 'table-warning' : ''">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:each="authority: ${user.authorities}">
                        <span th:text="${authority.description}"></span>
                    </td>
                    <td th:text="${user.active} == 1 ? 'TRUE' : 'FALSE'"></td>
                    <td>
                        <div class="d-flex flex-row gap-1">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#edit-user-modal" th:data-user-id="${user.id}"
                                th:data-user-email="${user.email}" th:data-user-username="${user.username}"
                                th:data-user-authority="${user.authorities[0].description}">
                                <span class="material-symbols-outlined">edit_square</span>
                            </button>
                            <form th:action="@{/admin/{id}(id = ${user.id})}" th:method="PATCH">
                                <button type="submit" class="btn"
                                    th:classappend="${user.active} == 1 ? 'btn-warning' : 'btn-info'">
                                    <span th:if="${user.active == 1}" class="material-symbols-outlined">
                                        toggle_on
                                    </span>
                                    <span th:if="${user.active == 0}" class="material-symbols-outlined">
                                        toggle_off
                                    </span>
                                </button>
                            </form>
                            <form th:action="@{/admin/{id}(id = ${user.id})}" th:method="DELETE">
                                <button type="submit" class="btn btn-danger">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination">
                <li class=" page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page')}"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')} "></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'" th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 :
totalPages)}">
                    <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page')}"></a>
                </li>
            </ul>
        </nav>

        <!-- Create user modal -->
        <div class="modal fade" id="create-user-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="create-user-modal-label">
                            <strong>Create User</strong>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form id="create-user-form" th:object="${userDto}" th:action="@{/admin}" th:method="POST">
                        <div class="modal-body">
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="radio" id="radio_user" value="BENUTZER"
                                    th:name="role" th:field="*{role}" checked required>
                                <label class="form-check-label" for="radio_user">
                                    User
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="radio" id="radio_organizer" value="ORGANISATOR"
                                    th:name="role" th:field="*{role}" required>
                                <label class="form-check-label" for="radio_organizer">
                                    Organizer
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="radio" id="radio_admin" value="ADMIN"
                                    th:name="role" th:field="*{role}" required>
                                <label class="form-check-label" for="radio_admin">
                                    Admin
                                </label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Username"
                                    th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"
                                    th:value="${userDto.username} ?: ''" required>
                                <label for="username">Username</label>
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                    class="invalid-feedback"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" th:name="email"
                                    placeholder="email@example.com"
                                    th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                    th:value="${userDto.email} ?: ''" required>
                                <label for="email">Email address</label>
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    class="invalid-feedback"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password"
                                    th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" required>
                                <label for="password">Password</label>
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                    class="invalid-feedback"></div>
                            </div>
                            <div class="form-floating mb-5">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    placeholder="Confirm password"
                                    th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                                    required>
                                <label for="confirmPassword">Confirm Password</label>
                                <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                    class="invalid-feedback"></div>
                            </div>
                            <button type="submit" class="btn btn-success">Create User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit user modal -->
        <div class="modal fade" id="edit-user-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-user-modal-label">
                            <strong>Edit User: </strong><span id="modal-username-header"></span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form id="edit-user-form" th:method="PUT">
                        <div class="modal-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio_user" value="BENUTZER"
                                    th:name="authority">
                                <label class="form-check-label" for="radio_user">
                                    User
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio_organizer" value="ORGANISATOR"
                                    th:name="authority">
                                <label class="form-check-label" for="radio_organizer">
                                    Organizer
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="radio" id="radio_admin" value="ADMIN"
                                    th:name="authority">
                                <label class="form-check-label" for="radio_organizer">
                                    Admin
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="edit-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="edit-email" th:name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="edit-username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="edit-username" th:name="username" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Populate edit user modal -->
    <script th:inline="javascript">
        var editUserModal = document.getElementById("edit-user-modal");
        // thymeleaf javascript inline syntax /*[[...]]*/
        var openModal = /*[[${openModal ?: false}]]*/ false;

        if (openModal) {
            // try to open modal only after full DOM is loaded
            document.addEventListener('DOMContentLoaded', function () {
                var createUserModal = document.getElementById("create-user-modal");
                const modal = new bootstrap.Modal(createUserModal);

                modal.show();
            })
        }

        if (editUserModal) {
            // event occurs when modal is opened
            editUserModal.addEventListener("show.bs.modal", function (event) {
                var button = event.relatedTarget;

                // extract attribute values from "open modal" button
                var id = button.getAttribute("data-user-id");
                var email = button.getAttribute("data-user-email");
                var username = button.getAttribute("data-user-username");
                var authority = button.getAttribute("data-user-authority");

                var modalTitle = editUserModal.querySelector("#modal-username-header");
                var modalForm = document.getElementById("edit-user-form");
                var emailInput = editUserModal.querySelector("#edit-email");
                var usernameInput = editUserModal.querySelector("#edit-username");
                // get radio button with same value as user authority
                var authorityRadio = editUserModal.querySelector('input[value="' + authority + '"]');

                modalForm.setAttribute("action", "/admin/" + id);

                modalTitle.textContent = username;
                emailInput.value = email;
                usernameInput.value = username;

                if (authorityRadio) {
                    authorityRadio.checked = true;
                }
            });
        }

        function changePageSize() {
            $("#searchForm").submit();
        }
    </script>
</main>

</html>