<div th:fragment="header" class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between align-items-center">
    <a class="navbar-brand fw-bold fs-3" th:href="@{/}">
        <i class="bi bi-calendar-event me-1"></i> Event Hub
    </a>
    <div class="d-flex align-items-center gap-2">
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" class="btn btn-light" role="button">Anmelden</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="dropdown">
            <button class="f-flex align-items-center btn btn-outline-light" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="dropdown-toggle d-flex align-items-center justify-content-center gap-2">
                    <span>Willkommen, <strong th:text="${#authentication.name}">User Name</strong></span>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a th:href="@{/profile}" class="dropdown-item">
                        <div class="d-flex align-items-center gap-2">
                            <span class="material-symbols-outlined">account_circle</span>
                            <span>Profil</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}" class="dropdown-item">
                        <div class="d-flex align-items-center gap-2">
                            <span class="material-symbols-outlined">logout</span>
                            <span>Abmelden</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <button id="theme-toggle" class="btn btn-outline-light btn-sm theme-toggle" type="button"
            aria-label="Dark Mode umschalten">
            <span id="theme-icon" class="material-symbols-outlined">dark_mode</span>
        </button>
    </div>
</div>