<div th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between align-items-center px-2">
    <a class="navbar-brand" th:href="@{/}" th:text="'Event Hub'"></a>
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}" class="btn btn-light" role="button">Login</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="d-flex align-items-center">    
        <span class="navbar-text me-3 text-white">
            Welcome, <strong th:text="${#authentication.name}">User Name</strong>
        </span>

        <form th:action="@{/logout}" method="POST" class="logout-form">
            <button type="submit" class="btn btn-outline-light">Logout</button>
        </form>
    </div>
</div>
