<div th:fragment="notification-bell" class="nav-item dropdown mx-3">
    <button class="btn btn-outline-light btn-sm theme-toggle position-relative cursor-pointer" id="notificationDropdown"
        type="button" th:data-user-id="${#authentication.principal.user.id}" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="material-symbols-outlined">notifications</span>
        <span id="unread-count"
            class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle d-none">
            0
        </span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="notificationDropdown" id="notification-list">
        <li>
            <h6 class="dropdown-header">Benachrichtigungen</h6>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li id="empty-message" class="dropdown-item text-center text-muted">Keine neuen Nachrichten</li>
    </ul>
</div>