body {
    background-color: #f8f9fa;
}

.logout-form {
    display: inline;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebar {
    min-height: 100%;
}