<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Event Hub</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- Material Icons -->
    <!-- this link imports all google material icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="container-fluid content-wrapper flex-grow-1 d-flex">
        <div class="row flex-grow-1">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" th:insert="~{fragments/sidebar :: sidebar}"></nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div layout:fragment="main"></div>
            </main>
        </div>
    </div>

    <!-- Footer -->
    <footer class="mt-auto" th:insert="~{fragments/footer :: footer}"></footer>

    <!-- Bootstrap JS -->
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>

</html>