<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Event Hub</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- Material Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,delete,edit_square,search,toggle_off,toggle_on" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
</head>

<body>

    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="container-fluid content-wrapper">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" th:insert="~{fragments/sidebar :: sidebar}"></nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 vh-100">
                <div layout:fragment="main"></div>
            </main>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="~{fragments/footer :: footer}"></footer>

    <!-- Bootstrap JS -->
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>

</html>